<div class="rec-movie-cards">
    <div class="group relative">
        <img [src]="movieCard.image" class="w-[220px] h-[136px] lg:w-[270px] lg:h-[168px] rounded-md "/>
        <div class="absolute invisible group-hover:visible flex lg:w-[270px] lg:h-[168px] w-[220px] h-[136px] top-0 items-center rounded-md backdrop-grayscale-0 bg-black bg-opacity-70">
            <div class="play flex bg-transparent ml-auto mr-auto p-1.5 px-3 bg-white bg-opacity-20 rounded-3xl">
                <fa-icon class="text-white text-xl p-2 rounded-full h-8 w-8 flex items-center bg-[#0d172c]  hover:text-red-500" [icon]="faPlay"></fa-icon>
                <p class="text-white bg-transparent font-semibold ml-1.5 pt-1">Play</p>
            </div>
           
        </div>
    </div>
    <ul class="flex text-slate-500 text-xs">
    <li>{{movieCard.year}}</li>
    <li class="ml-3 capitalize">{{movieCard.category}}</li>
    <li class="ml-3">{{movieCard.rate}}</li>
</ul>
<p class="font-semibold text-white">{{movieCard.title}}</p>
</div>