<div class="media-element relative w-96 h-60 mr-7">
    <img [src]="trendyMovie.image" class="rounded-md relative h-60 w-96"/>
    <div class="card-details absolute top-24 left-9 text-white bg-transparent">
     <ul class="flex bg-transparent text-slate-300 text-xs">
         <li class="bg-transparent">{{trendyMovie.year}}</li>
         <li  class="ml-4 bg-transparent">{{trendyMovie.category}}</li>
         <li class="ml-4 bg-transparent">{{trendyMovie.rate}}</li>
     </ul>
     <p class="bg-transparent font-bold shadow-lg ">{{trendyMovie.title}}</p>
    </div>
   </div>
