<div class="flex">
    <!-- sidebar -->
    <div class="">
    <div class="sidebar w-24 h-3/4 mt-8 mr-8 bg-[#0d172c] border border-[#0d172c] p-4 rounded-md pb-96 fixed  min-h-screen z-10">

        <ul class="bg-transparent">
            <li><img src="https://entertainment-app-tawny.vercel.app/assets/images/logo.svg" class="ml-3 mt-4 mb-16"></li>
            <li><img src="https://entertainment-app-tawny.vercel.app/assets/images/logo.svg" class="ml-3 mt-4 mb-8"></li>
            <li><img src="https://entertainment-app-tawny.vercel.app/assets/images/logo.svg" class="ml-3 mt-4 mb-8"></li>
            <li><img src="https://entertainment-app-tawny.vercel.app/assets/images/logo.svg" class="ml-3 mt-4 mb-8"></li>
            <li><img src="https://entertainment-app-tawny.vercel.app/assets/images/logo.svg" class="ml-3 mt-4 mb-8"></li>
        
        </ul>

    </div>
</div>

    <div class="main-content ml-6">
<!-- searchbar -->
<div class="ml-5">
    <div class="search-bar mt-12 fixed mb-24 ml-24">
        <button class="text-white mr-4">search</button>
        <input type="text" placeholder="Search for movies or TV series" class="w-96 placeholder:text-slate-700"/>
    </div>

</div>

<!-- trending carousel -->
<p class="text-white font-semibold text-2xl mt-24 mb-8 ml-28 fixed z-10">Trending</p>
<div class="max-width-screen ml-12">
    <div class="overflow-x-hidden">
<div class=" flex ml-16 mt-32" style="width: 3000px; scroll-snap-type: x var(--tw-scroll-snap-strictness);">
     
    <div class="trending-card relative snap-center  ">
       <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/beyond-earth/trending/large.jpg" height="35px" width="350px" class="rounded-md relative"/>
       <div class="card-details absolute top-24 left-9 text-white bg-transparent">
        <ul class="flex bg-transparent text-slate-300 text-xs">
            <li class="bg-transparent">2019</li>
            <li  class="ml-4 bg-transparent">Movie</li>
            <li class="ml-4 bg-transparent">PG</li>
        </ul>
        <p class="bg-transparent font-bold shadow-lg ">Beyond Earth</p>
       </div>
       <img src=""/>
      </div>
   

      <div class="trending-card relative snap-center  ml-10">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/beyond-earth/trending/large.jpg" height="35px" width="350px" class="rounded-md relative"/>
        <div class="card-details absolute top-24 left-9 text-white bg-transparent">
         <ul class="flex bg-transparent text-slate-300 text-xs">
             <li class="bg-transparent">2019</li>
             <li  class="ml-4 bg-transparent">Movie</li>
             <li class="ml-4 bg-transparent">PG</li>
         </ul>
         <p class="bg-transparent font-bold shadow-lg ">Beyond Earth</p>
        </div>
        <img src=""/>
       </div>

    <div class="trending-card relative ml-10">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/beyond-earth/trending/large.jpg" height="35px" width="350px" class="rounded-md relative"/>
        <div class="card-details absolute top-24 left-9 text-white bg-transparent">
         <ul class="flex bg-transparent text-slate-300 text-xs">
             <li class="bg-transparent">2019</li>
             <li  class="ml-4 bg-transparent">Movie</li>
             <li class="ml-4 bg-transparent">PG</li>
         </ul>
         <p class="bg-transparent font-bold shadow-lg ">Beyond Earth</p>
        </div>
        <img src=""/>
     </div>

     <div class="trending-card relative ml-10 ">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/beyond-earth/trending/large.jpg" height="35px" width="350px" class="rounded-md relative"/>
        <div class="card-details absolute top-24 left-9 text-white bg-transparent">
         <ul class="flex bg-transparent text-slate-300 text-xs">
             <li class="bg-transparent">2019</li>
             <li  class="ml-4 bg-transparent">Movie</li>
             <li class="ml-4 bg-transparent">PG</li>
         </ul>
         <p class="bg-transparent font-bold shadow-lg ">Beyond Earth</p>
        </div>
        <img src=""/>
     </div>
     <div class="trending-card relative ml-10">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/beyond-earth/trending/large.jpg" height="35px" width="350px" class="rounded-md relative"/>
        <div class="card-details absolute top-24 left-9 text-white bg-transparent">
         <ul class="flex bg-transparent text-slate-300 text-xs">
             <li class="bg-transparent">2019</li>
             <li  class="ml-4 bg-transparent">Movie</li>
             <li class="ml-4 bg-transparent">PG</li>
         </ul>
         <p class="bg-transparent font-bold shadow-lg ">Beyond Earth</p>
        </div>
        <img src=""/>
     </div>
</div>
</div>
</div>

<!-- recommended for you -->

<p class="ml-28 mt-8 text-white font-semibold text-2xl fixed">Recommended for you</p>
 
<div class="movies grid lg:grid-cols-5 grid-cols-3 gap-6 ml-28 mt-24 max-w-full fixed">
    <div class="rec-movie-cards">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/the-great-lands/regular/large.jpg" width="270px" height="200px" class="rounded-md"/>
    <ul class="flex text-slate-500 text-xs">
        <li>2019</li>
        <li class="ml-3">Movie</li>
        <li class="ml-3">PG</li>
    </ul>
    <p class="font-semibold text-white">The Great Lands</p>
    </div>

    <div class="rec-movie-cards">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/the-great-lands/regular/large.jpg" width="270px" height="200px" class="rounded-md"/>
    <ul class="flex text-slate-500 text-xs">
        <li>2019</li>
        <li class="ml-3">Movie</li>
        <li class="ml-3">PG</li>
    </ul>
    <p class="font-semibold text-white">The Great Lands</p>
    </div>

    <div class="rec-movie-cards">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/the-great-lands/regular/large.jpg" width="270px" height="200px" class="rounded-md"/>
    <ul class="flex text-slate-500 text-xs">
        <li>2019</li>
        <li class="ml-3">Movie</li>
        <li class="ml-3">PG</li>
    </ul>
    <p class="font-semibold text-white">The Great Lands</p>
    </div>

    <div class="rec-movie-cards">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/the-great-lands/regular/large.jpg" width="270px" height="200px" class="rounded-md"/>
    <ul class="flex text-slate-500 text-xs">
        <li>2019</li>
        <li class="ml-3">Movie</li>
        <li class="ml-3">PG</li>
    </ul>
    <p class="font-semibold text-white">The Great Lands</p>
    </div>
    
    <div class="rec-movie-cards">
        <img src="https://entertainment-app-tawny.vercel.app/assets/thumbnails/the-great-lands/regular/large.jpg" width="270px" height="200px" class="rounded-md"/>
    <ul class="flex text-slate-500 text-xs">
        <li>2019</li>
        <li class="ml-3">Movie</li>
        <li class="ml-3">PG</li>
    </ul>
    <p class="font-semibold text-white">The Great Lands</p>
    </div>
</div>




</div>


</div>
